@import '@/app/styles/variables';

.imgs {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.main {
    height: 100%;
    width: 75%;
    background: $bg_img_color;
    border-radius: 20px;
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    gap: 14px;

    & button {
        width: 100%;
        height: 33%;
        border-radius: 20px;
        overflow: hidden;

        outline: none;
        transition: 0.3s;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
        }

        &:hover {
            cursor: pointer;

            & img {
                transform: scale(1.1);
            }
        }

        &:active {
            transform: scale(0.8);
        }
    }
}

.active {
    border: 2px solid $black_color;
}

.btn {
    border: 2px solid transparent;
}
